# SERVER/DATABASE/AUTHENTICATION SETUP
DATABASE_URL="your_db_url_here"
NODE_ENV="development"      # development | production
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="enter_jwt_duration"

# MISCELLANEOUS
CREATOR_ID="enter_movie_creator_user_id"